<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/Content/rm">
		<include path="~/Content/common.css" />
		<include path="~/Content/routemanager.css" />
	</styleBundle>
	<styleBundle path="~/Content/rt">
		<include path="~/Content/common.css" />
		<include path="~/Content/routetracker.css" />
	</styleBundle>
	<styleBundle path="~/Content/css">

		<include path="~/Content/Site.css" />
	</styleBundle>
</bundles>