/* Move down content because we have a fixed navbar that is 50px tall */
@import url('Site.css');

html {
    font-size: 11px;
    font-family: 'Helvetica Neue', helvetica, Verdana, Arial, geneva;
}

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 600px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        margin-top: -10px;
    }
}

div {
    font-size: 11px;
}

th {
    font-weight: bold;
}

td {
    font-size: 11px;
}

.pageTitle {
    font-weight: bold;
    font-size: 24px;
}

.pageSubtitle {
    font-weight: normal;
    font-size: 18px;
    color: #808080;
}

.ui-dialog {
    z-index: 1100;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

.fa-spinner.fa-5x {
    margin-top: 25px;
    margin-left: 48%;
    margin-bottom: 25px;
}

/*
    ROUTE Tracker Specific Styles
*/

.minWidthGridColumn-sm {
    min-width: 60px;
    overflow: hidden;
}

.minWidthGridColumn-med {
    min-width: 100px;
    overflow: hidden;
}

.minWidthGridColumn-lg {
    min-width: 120px;
    overflow: hidden;
}

.maxWidthGridColumn-med-wrapping {
    max-width: 180px;
    overflow-wrap: normal
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}

input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
}

input[type=date].route-tracker-filter {
    width: 85px;
    height: 18px;
    padding: 2px 2px 2px 2px;
    font-size: 0.9em;
    display: inline-flex;
    margin-top: 3px;
}

    input[type=date].route-tracker-filter::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    input[type=date].route-tracker-filter::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
    }

select.form-control.route-tracker-filter.route-tracker-filter-date-range {
    height: 20px;
    font-size: 0.9em;
    padding: 2px 2px 2px 2px;
}

/*Route Filter*/
.rt-filter-label {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* --- */

/* Route Tracker & Route Notification */
#filterContainer.panel-body {
    padding: 5px;
}

    #filterContainer.panel-body .form-group {
        margin-bottom: 5px;
    }

#routes-table th {
    font-size: 12px;
}

#routes-table td {
    padding: 2px 4px;
}

    #routes-table td.route-info {
        font-size: 1.5em;
        background-color: #000;
        color: #efefef;
    }

.stopTable {
    background-color: white;
}

    .stopTable th {
        font-size: 13px;
        border-right: 1px solid #ddd;
        background-color: #6c7ae0;
        color: #fff;
    }

    .stopTable tbody {
    }

    .stopTable thead, tfoot {
        display: block;
        width: 100%;
    }

    .stopTable td, .stopTable th {
        padding: 2px 8px;
        vertical-align: middle;
    }

    .stopTable tr:hover, .tracker-stop-row-added:hover, .tracker-stop-row-default:hover, .tracker-stop-row-modified:hover, .tracker-stop-row-removed:hover {
        background-color: #e8fce8 !important;
    }

    .stopTable .no-hover-color:hover {
        background-color: #ffffff !important;
    }

    .stopTable .tracker-stop-row:nth-child(even) {
        background-color: #f2f2f2;
    }

    .stopTable .tracker-stop-row:nth-child(odd) {
        background-color: #ffffff;
    }

    .stopTable .tracker-stop-row-added {
        border: 2px #337ab7 dashed;
    }

    .stopTable .tracker-stop-row-removed {
        border: 2px #d43f3a dashed;
    }

    .stopTable .tracker-stop-row-modified {
        border: 2px #f0ad4e dashed;
    }

    .stopTable input[readonly], .stopTable textarea[readonly] {
        border-color: darkgrey;
        border-style: solid;
        border-width: 1px;
        background-color: rgb(235, 235, 228);
        color: rgb(84, 84, 84);
        padding: 2px 0px;
    }

/* --- */

/* ---ROUTE MANAGER --- */

.panel {
    margin-bottom: 10px;
}

.panel-heading {
    font-weight: bold;
    padding: 10px 10px;
}

.panel-body {
    padding: 10px;
}

    .panel-body p {
        margin-bottom: 0px;
    }

    .panel-body .checkbox {
        margin-top: 0px;
        margin-left: 20px;
    }

.btn-collapse {
    position: absolute;
    padding: 8px 12px;
    border-radius: 5px 5px 0 0;
    top: 82px;
    background: rgba(51, 122, 183, 0.09);
    transform: rotate(-90deg);
    z-index: 10;
}

    .btn-collapse.btn-collapse-left {
        left: 0;
        margin-left: -24px;
    }

    .btn-collapse.btn-collapse-right {
        right: 0;
        margin-right: -24px;
    }

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    top: 45px;
    padding: 10px 15px;
    background: rgba(51, 122, 183, 0.09);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

    .overlay.overlay-left {
        left: 0;
    }

    .overlay.overlay-right {
        right: 0;
    }

    /* The navigation links inside the overlay */
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 11px;
        display: block;
        /* Display block instead of inline */
        transition: 0.3s;
        /* Transition effects on hover (color) */
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn, .stop-list-content .stop-closebtn {
        position: absolute;
        top: 3px;
        right: 5px;
    }

    .overlay .restorebtn {
        position: absolute;
        top: 1px;
        right: 25px;
    }

    .overlay .minimizebtn {
        position: absolute;
        top: 1px;
        right: 25px;
    }

.overlay-left.route-filter.filter-is-collapsed,
.overlay-left.stop-list.stop-list-is-collapsed {
    left: -30px;
    width: 0;
}

.overlay-left.route-filter.filter-is-displayed,
.overlay-left.stop-list.stop-list-is-displayed {
    left: 25%;
    width: 18%;
}

    .overlay-left.route-filter.filter-is-displayed.filter-is-stretched,
    .overlay-left.stop-list.stop-list-is-displayed.stop-list-is-stretched {
        left: 5%;
        width: 18%;
    }

.overlay-right.route-filter.filter-is-collapsed,
.overlay-right.stop-list.stop-list-is-collapsed {
    right: -30px;
    width: 0;
}

.overlay-right.route-filter.filter-is-displayed,
.overlay-right.stop-list.stop-list-is-displayed {
    right: 25%;
    width: 18%;
}

.overlay-right.route-filter.filter-is-stretched,
.overlay-right.stop-list.stop-list-is-stretched {
    right: 5%;
    width: 18%;
}

/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 3%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    margin-top: 8px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

    .overlay-content .form-group {
        margin-bottom: 5px;
    }

    .overlay-content .panel-body label {
        margin-top: 5px;
    }

/* Route Manager Filter panel */
.route-filter-center-selector {
    width: 300px;
}

.filter-category span {
    vertical-align: sub;
    font-size: 1.1em;
}

.filter-category .form-control {
    display: inline-block;
    width: auto;
}

.filter-category input[type=number].form-control {
    max-width: 70px;
}

.filter-category input[type=checkbox].form-control {
    margin-top: 0px
}

.filter-category span {
    font-size: 0.9em;
}

.form-control.route-filter-dispatch-start-date, .form-control.route-filter-dispatch-end-date, .form-control.route-filter-weekending-date {
    width: 85px;
    height: 18px;
    padding: 2px 2px 2px 2px;
    font-size: 0.9em;
    display: inline-flex;
    margin-top: 3px;
}

.form-control.route-filter-bill-to {
    width: 60px;
    display: inline-flex;
}

.form-control.route-filter-ship-to {
    width: 45px;
    display: inline-flex;
}

    .form-control.route-filter-dispatch-start-date::-webkit-inner-spin-button, .form-control.route-filter-dispatch-end-date::-webkit-inner-spin-button, .form-control.route-filter-weekending-date::-webkit-inner-spin-button, .form-control.route-filter-bill-to::-webkit-inner-spin-button, .form-control.route-filter-ship-to::-webkit-inner-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    .form-control.route-filter-dispatch-start-date::-webkit-clear-button, .form-control.route-filter-dispatch-end-date::-webkit-clear-button, .form-control.route-filter-weekending-date::-webkit-clear-button, .form-control.route-filter-bill-to::-webkit-clear-button, .form-control.route-filter-ship-to::-webkit-clear-button {
        -webkit-appearance: none;
        display: none;
    }

.field-label {
    text-align: right;
    padding-left: 5px;
    padding-right: 2px;
    font-weight: bold;
}

.field-value {
    white-space: nowrap;
    text-align: left;
    padding-left: 2px;
    padding-right: 5px;
}

.info-window {
    text-align: left;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1001;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

    .toast.toast-is-shown {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

.global-spinner-layer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
}

    .global-spinner-layer i.fa-spinner {
        margin: auto;
        color: black;
        margin-top: 25%;
    }

.loading-cover {
    background: #dedede;
    display: none;
    position: relative;
    width: auto;
    min-height: 200px;
    height: 100%;
    opacity: 0.5;
    padding-top: 80px;
}


/* Route Manager Route List */
.route-list {
    margin-bottom: 30px;
}

.route-item {
    margin-bottom: 10px;
}

.route-header {
}

    .route-header[data-position='right'] {
        /*padding-left: 20px;*/
    }

    .route-header .route-header-info {
        font-size: 1em;
        padding-top: 2px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

        .route-header .route-header-info .label {
            font-size: 90%;
            font-weight: normal;
        }

    .route-header .form-control {
        display: inline-block;
        width: auto;
    }

    .route-header .col-xs-9 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .route-header .icon-column {
        display: flex;
        justify-content: flex-end;
        padding-left: 5px;
        padding-right: 10px;
    }

        .route-header .icon-column a {
            height: 100%;
            padding-left: 3px;
            padding-right: 10px;
        }

.route-details {
    width: 98%;
    font-size: .7em;
    font-weight: bold;
    display: none;
    padding-bottom: 12px;
}

    .route-details div.row {
        font-size: 10px;
        font-weight: normal;
        margin: 0px;
        margin-left: 0px;
    }

    .route-details .route-details-capacity {
        margin-left: 15px;
    }

    .route-details div.route-details-capacity-column {
        padding: 0px;
    }

    .route-details div .field-label {
        font-weight: bold;
    }

/* Route Manager Stop List */
.stop-detail-text {
    font-size: 14px
}

.stop-detail-toggle {
    position: relative;
    padding: 0px;
}

a.stop-header {
    padding: 5px 5px 5px 5px;
}

.stop-header .col-xs-2 {
    padding-left: 10px;
    padding-right: 3px;
    text-align: left;
}

.stop-header .col-xs-7 {
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
}

.stop-header .stop-row-added {
    background-color: #d1e6fa;
}

.stop-header .stop-row-removed {
    background-color: #cccccc;
}

.stop-header .stop-row-modified {
    background-color: #FAFAD2;
}

.stop-header .icon-column {
    display: flex;
    justify-content: flex-end;
    padding-left: 3px;
    padding-right: 10px;
}

    .stop-header .icon-column a {
        height: 100%;
        padding-left: 3px;
        padding-right: 3px;
    }

.stop-details {
    width: 95%;
    margin-left: 3%;
    font-size: .7em;
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 10px;
}

    .stop-details div {
        font-size: 8px;
        font-weight: normal;
    }

        .stop-details div .field-label {
            font-weight: bold;
        }

.stop-context-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: rgba(237, 243, 249, 1.0);
    color: #333;
    border-radius: 5px;
    padding: 8px 12px;
    list-style: none;
    font-size: 12px;
}


    .stop-context-menu li {
        padding: 8px 12px;
        cursor: pointer;
    }

p.bg-info {
    padding: 3px 5px 3px 5px;
}

.stop-list-content {
    margin-top: 35px;
    margin-bottom: 40px;
}

    .stop-list-content .overlay-content .panel .panel-body .stop-details:hover {
        box-shadow: 0px 0px 150px #000000;
        background-color: #ffffff;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.3);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.3);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.3);
        transition: all 200ms ease-in;
        transform: scale(1.3);
    }

a.stop-list-toggle {
    padding-left: 1px;
}

.stop-list-toggle {
    position: absolute;
    top: 0;
    right: -40px;
}

.stop-list-toggle-right {
    position: absolute;
    top: 0;
    right: -16px;
}

.stop-move-box-left {
    padding-left: 7px;
}

.stop-move-box-right {
    padding-right: 7px;
}

.stop-move-box-center {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.capacity-green {
    color: green;
}

.capacity-red {
    color: red;
}

.panel-source, .panel-destination {
    padding-bottom: 5px;
}

.row-right {
    margin-left: -45px;
}

.row-left {
    margin-left: -10px;
}

.pin-wrap {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: -20px;
}

.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -28px;
    margin-left: -20px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    text-align: center;
    border-radius: 50% 50% 50% 0;
    border: 2px solid black;
}

    .pin div.pin-number {
        padding-left: 6px;
        padding-top: 6px;
        font-size: 14pt;
        display: flex;
        justify-content: center;
        margin: auto;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

.shadow {
    position: absolute;
}

    .shadow::after {
        position: absolute;
        left: -125px;
        display: block;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        content: '';
        -webkit-transform: rotateX(55deg);
        transform: rotateX(55deg);
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
    }

.pulse {
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateX(55deg);
    transform: rotateX(55deg);
}

    .pulse::after {
        display: block;
        width: 40px;
        height: 40px;
        content: '';
        -webkit-animation: pulsate 1s ease-out;
        animation: pulsate 1s ease-out;
        -webkit-animation-delay: 1.1s;
        animation-delay: 1.1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 6px 3px #f93c11;
    }

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

/* End Route Manager */

.column-option span {
    vertical-align: super;
    font-size: 1.1em;
}

.column-option .form-control {
    display: inline-block;
    width: auto;
    height: auto;
}

/* Activity Info Dialog / Comment Dialog */
table.comment-table {
    width: 100%;
}

    table.comment-table th {
        background-color: #bebebe;
        border: 1px solid #a9b2bb;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    table.comment-table td {
        border: 1px solid #888888;
        padding-left: 3px;
        padding-right: 3px;
    }

.comment-table-stripe {
    background-color: #ededed;
}

.comment-dialog {
    width: 500px;
}
/* End Comment Dialog */

/*Bootstrap Multi Select*/
span.multiselect-native-select {
    position: relative
}

    span.multiselect-native-select select {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px -1px -1px -3px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        left: 50%;
        top: 30px
    }

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

    .multiselect-container .input-group {
        margin: 5px
    }

    .multiselect-container > li {
        padding: 0
    }

        .multiselect-container > li > a.multiselect-all label {
            font-weight: 700
        }

        .multiselect-container > li.multiselect-group label {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: 700
        }

        .multiselect-container > li.multiselect-group-clickable label {
            cursor: pointer
        }

        .multiselect-container > li > a {
            padding: 0
        }

            .multiselect-container > li > a > label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: 400;
                padding: 3px 0 3px 30px
            }

                .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
                    margin: 0
                }

                .multiselect-container > li > a > label > input[type=checkbox] {
                    margin-bottom: 5px
                }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}
/* End Multi Select */

.column-option-dialog {
    width: 600px !important;
    height: 480px !important;
}

.column-option-dialog-selection-heading {
    font-weight: bold;
    width: 200px;
}

.column-option-dialog-heading-spacer {
    width: 60px;
}

.column-options-dialog-listbox {
    height: 200px !important;
    width: 200px;
}

.column-option-dialog-button {
    width: 40px;
    margin-bottom: 10px;
}

.column-option-dialog-move-button-frame {
    width: 60px;
    text-align: center;
    vertical-align: top;
}

.modal-stop-dialog {
    width: 90%;
}

.modal-stop-dialog-content {
    /*overflow-y: auto;*/
    overflow-x: auto;
}

#routes-table-popup td {
    padding: 2px 4px;
}

#routes-table-popup th {
    font-size: 12px;
}

@media (max-width: 1900px) {
    .route-header .route-header-info {
        font-size: 0.8em;
    }

        .route-header .route-header-info .label {
            font-size: 100%;
            font-weight: normal;
        }

    .route-header .col-xs-9 {
        padding-left: 2px;
        padding-right: 1px;
    }

    .route-header .icon-column {
        display: flex;
        justify-content: flex-end;
        padding-left: 1px;
        padding-right: 1px;
        margin-left: -10px;
    }

        .route-header .icon-column a {
            height: 100%;
            padding-left: 1px;
            padding-right: 1px;
        }
}
